# Dependências locais (o Docker deve instalar as suas próprias)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ficheiros de build do Next.js locais
.next
out
build

# Ficheiros de ambiente locais (segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ficheiros do Git
.git
.gitignore

# Ficheiros do próprio Docker
Dockerfile
.dockerignore
